/*body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.checkbox-fun {
  background: #70e2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.checkbox-fun__label {
  position: relative;
  background: #fff;
  width: 20px;
  height: 20px;
  margin: 40px;
  transform: rotate(-45deg);
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  z-index: 100;
}

.checkbox-fun__content {
  opacity: 0;
  width: 20px;
  height: 20px;
  background: #ff1493;
  position: relative;
  z-index: 1000;
  transform: scale(0.7);
  transition: opacity 0.4s ease-out, transform 0.6s cubic-bezier(0.4, -0.96, 0, 1.92);
}

.checkbox-fun__content::before, .checkbox-fun__content::after, .checkbox-fun__label::before, .checkbox-fun__label::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  display: block;
  content: "";
}

.checkbox-fun__label::before, .checkbox-fun__label::after {
  border: 3px solid #fff;
  background: #fff;
}

.checkbox-fun__label::before {
  top: -16px;
  left: -3px;
}

.checkbox-fun__label::after {
  right: -16px;
  top: -3px;
}

.checkbox-fun__content::before, .checkbox-fun__content::after {
  background: #ff1493;
}

.checkbox-fun__content::before {
  top: -12px;
}

.checkbox-fun__content::after {
  right: -12px;
}

.checkbox-fun__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  visibility: hidden;
}

.checkbox-fun__box:checked+.checkbox-fun__content {
  opacity: 1;
  transform: scale(1);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
